<!-- $Id: wxch_config.htm 14216 2013-10-13 14:27:21Z djks $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$wxch_lang.cp_home}{if $wxch_lang.ur_here} - {$wxch_lang.ur_here} {/if}</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../data/static/js/transport.js,./js/common.js"}
<script language="JavaScript">
<!--
// 这里把JS用到的所有语言都赋值到这里
{foreach from=$lang.js_languages key=key item=item}
var {$key} = "{$item}";
{/foreach}
//-->
</script>
</head>
<body>

<h1>
{if $action_link}
<span class="action-span"><a href="{$action_link.href}">{$action_link.text}</a></span>
{/if}
{if $action_link2}
<span class="action-span"><a href="{$action_link2.href}">{$action_link2.text}</a>&nbsp;&nbsp;</span>
{/if}
<span class="action-span1"><a href="index.php?act=main">{$wxch_lang.cp_home}</a> </span><span id="search_id" class="action-span1"> -  {$wxch_lang.ur_here}</span>
<div style="clear:both"></div>
</h1>
<div class="main-div">
  <form name="theForm" method="post" action="wxch-ent.php?act=wxconfig" >
  <table width="100%" >
  <tr>
    <td class="label">Token:</td>
    <td><input type="text" name="token" size="20" value="{$ret.token}"/></td>
  </tr>
  <tr>
    <td class="label">AppId:</td>
    <td><input type="text " name="appid" size="20" value="{$ret.appid}"/></td>
  </tr>
 <tr>
    <td class="label">AppSecret:</td>
    <td><input type="text " name="appsecret" size="32" value="{$ret.appsecret}"/></td>
  </tr>
  <tr>
    <td class="label">公众号名称:</td>
    <td><input type="text " name="app_name" size="20" value="{$ret.app_name}"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">用在关注回复时提示“感谢您关注***”</span>
  </td>
  </tr>
  <tr>
    <td class="label">分销商名称:</td>
    <td><input type="text " name="distributor_name" size="20" value="{$ret.distributor_name}"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">自己定义“分销商”的名称</span>
  </td>
  </tr>
   <tr>
    <td class="label">一级会员名称:</td>
    <td><input type="text " name="one_level_member_name" size="20" value="{$ret.one_level_member_name }"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">自己定义“一级会员名称”的名称</span>
  </td>
  </tr>
   <tr>
    <td class="label">二级会员名称:</td>
    <td><input type="text " name="two_level_member_name" size="20" value="{$ret.two_level_member_name}"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">自己定义“二级会员名称”的名称</span>
  </td>
  </tr>
   <tr>
    <td class="label">三级会员名称:</td>
    <td><input type="text " name="three_level_member_name" size="20" value="{$ret.three_level_member_name}"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">自己定义“三级会员名称”的名称</span>
  </td>
  </tr>
  <tr>
    <td class="label">初始关注人数:</td>
    <td><input  type="number" name="init_subscribe_user_counts" size="20" value="{$ret.init_subscribe_user_counts|default:0}" /> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">关注回复时的初始人数</span>
</td>
  </tr>
  <tr>
    <td class="label">成为分销商的消费额度:</td>
    <td><input type="text " name="be_distributor" size="20" value="{$ret.be_distributor|default:100}"/> 元<br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">输入成为分销商的消费价格，以元为单位，只需要输入数值，默认为100元</span>
</td>
  </tr>
  <tr>
    <td class="label">一级会员提成:</td>
    <td><input type="text " name="one_level_deduct" size="20" value="{$ret.one_level_deduct|default:0}"/> %<br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">一级会员提成，单位为(%)，仅需要输入数值即可，0为不返佣</span>
</td>
  </tr>
   <tr>
    <td class="label">二级会员提成:</td>
    <td><input type="text " name="two_level_deduct" size="20" value="{$ret.two_level_deduct|default:0}"/> %<br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">二级会员提成，单位为(%)，仅需要输入数值即可，0为不返佣</span>
</td>
  </tr>
   <tr>
    <td class="label">三级会员提成:</td>
    <td><input type="text " name="three_level_deduct" size="20" value="{$ret.three_level_deduct|default:0}"/> %<br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">三级会员提成，单位为(%)，仅需要输入数值即可，0为不返佣</span>
</td>
  </tr>
  <tr>
    <td class="label">自定义关注回复:</td>
    <td>{if $ret.is_userdefine_subscribe eq 1}<input type="radio" name="is_userdefine_subscribe" value="1" checked="checked"> 开启&nbsp; <input type="radio" name="is_userdefine_subscribe" value="0"> 关闭
     {else}
       <input type="radio" name="is_userdefine_subscribe" value="1" > 开启&nbsp; <input type="radio" name="is_userdefine_subscribe" value="0" checked="checked"> 关闭
     {/if}
    <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">系统默认回复关注者“您是多少位关注者，由谁推荐”，可以开启自定义回复</span>
</td>
  </tr>
  <tr>
    <td class="label">是否自动分销:</td>
    <td>{if $ret.is_auto_distribute eq 1}<input type="radio" name="is_auto_distribute" value="1" checked="checked"> 开启&nbsp; <input type="radio" name="is_auto_distribute" value="0"> 关闭
     {else}
       <input type="radio" name="is_auto_distribute" value="1" > 开启&nbsp; <input type="radio" name="is_auto_distribute" value="0" checked="checked"> 关闭
     {/if}
    <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">自动分销是用户付款后系统自动分销返佣，否则人工后台审核分销返佣</span>
</td>
  </tr>
  <tr>
    <td class="label">自己关注成为分销商:</td>
    <td>{if $ret.is_distributor_limit eq 1}<input type="radio" name="is_distributor_limit" value="1" checked="checked"> 允许&nbsp; <input type="radio" name="is_distributor_limit" value="0"> 不允许
     {else}
       <input type="radio" name="is_distributor_limit" value="1" > 允许&nbsp; <input type="radio" name="is_distributor_limit" value="0" checked="checked"> 不允许
     {/if}
    <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">自己关注公众号的会员，是否允许成为分销商</span>
</td>
  </tr>
  <tr>
    <td class="label">不是分销商访问'我的分销':</td>
    <td>{if $ret.is_my_distribute_view eq 1}<input type="radio" name="is_my_distribute_view" value="1" checked="checked"> 允许&nbsp; <input type="radio" name="is_my_distribute_view" value="0"> 不允许
     {else}
       <input type="radio" name="is_my_distribute_view" value="1" > 允许&nbsp; <input type="radio" name="is_my_distribute_view" value="0" checked="checked"> 不允许
     {/if}
</td>
  </tr>
  <tr>
    <td class="label">没有关注访问'商城子页':</td>
    <td>{if $ret.is_my_subscribe_view eq 1}<input type="radio" name="is_my_subscribe_view" value="1" checked="checked"> 允许&nbsp; <input type="radio" name="is_my_subscribe_view" value="0"> 不允许
     {else}
       <input type="radio" name="is_my_subscribe_view" value="1" > 允许&nbsp; <input type="radio" name="is_my_subscribe_view" value="0" checked="checked"> 不允许
     {/if}
    <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">没有关注公众号的情况下，是否允许访问除首页之外的页面</span>
</td>
  </tr>
  <tr>
    <td class="label">首页样式:</td>
    <td>{if $ret.home_page_style eq 1}<input type="radio" name="home_page_style" value="1" checked="checked"> 商城样式&nbsp; <input type="radio" name="home_page_style" value="2"> 单商品宣传页面（类似小C）
     {else}
     <input type="radio" name="home_page_style" value="1" > 商城样式&nbsp; <input type="radio" name="home_page_style" value="2" checked="checked"> 单商品宣传页面（类似小C）
     {/if}
</td>
  <tr>
    <td class="label">提现底限:</td>
    <td><input  type="number" name="withdraw_lower_limit" size="20" value="{$ret.withdraw_lower_limit|default:100}" /> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">默认为100元</span>
</td>
  </tr>
  <tr>
    <td class="label">充值底限:</td>
    <td><input  type="number" name="deposit_lower_limit" size="20" value="{$ret.deposit_lower_limit|default:1}" /> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">默认为1元</span>
</td>
  </tr>
  <tr>
    <td class="label">"分销"关键词自定义:</td>
    <td><input type="text" name="distribute_keywords" size="50" value="{$ret.distribute_keywords}"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">此设置可以将前台的“分销”文字，改成其它</span>
</td>
  </tr>
  <tr>
    <td class="label">"提现"页面提示信息:</td>
    <td><input type="text" name="withdraw_alert_msg" size="50" value="{$ret.withdraw_alert_msg}"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">提现页面显示的提示信息</span>
</td>
  </tr>
  <tr>
    <td class="label">关注引导页url:</td>
    <td><input type="text" name="subscribe_guide_page" size="50" value="{$ret.subscribe_guide_page}"/> <br />
          <span class="notice-span" style="display:block"  id="noticeshop_title">引导微信用户关注公众号的网页地址</span>
</td>
  </tr>
  
  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="{$lang.button_submit}" class="button" />
      <input type="reset" value="{$lang.button_reset}" class="button" />
    </td>
  </tr>
</table>
  </form>

</div>

{include file="wxch_pagefooter.htm"}